<div id="<%= dom_id(developer) %>" class="relative flex flex-row p-2 border border-gray-400 border-t-0 first:border-t first:rounded-t-md last:rounded-b-md">
  <div>
    <%= developer.email_address %>
  </div>
  <%= link_to "", developer, class: "absolute inset-0" %>
</div>
